<a class="navbar-item" href="{{ path('index') }}">⌂</a>

{% if app.request.attributes.get('_route') == 'tournament_scores' %}
    {% set href = path('score_new', {'game':game.id,'tournament':tournament.id}) %}
    <a class="navbar-item" href="{{href}}">✎</a>
{% endif %}