<a class="navbar-item" href="{{ path('index') }}">Home</a>
{% if not is_granted('ROLE_USER') %}
    <a class="navbar-item push-right" href="{{ path('app_login') }}">Log In</a>
    <a class="navbar-item" href="{{ path('user_new') }}">Sign Up</a>
{% endif %}