{% if appearance.team %}
    {% set href = path('team_show', { 'id': appearance.team.id }) %}
{% endif %}

{% set t_href = path('tournament_show', { 'id': appearance.tournament.id }) %}
<article>
    <p><a href="{{t_href}}">{{appearance.tournament.title}}</a></p>

    {% if appearance.team %}
    <p><a class="color-white" href="{{href}}">{{appearance.team.name}}</a></p>
    {% endif %}
</article>