{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <header>
        <h1>Settings for {{website.name}}</h1>
    </header>

    {% include 'profile/_form.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('/js/dist/forms.min.js')}}"></script>
{% endblock %}
