{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <header>
        <h1>Settings for {{website.name}}</h1>
    </header>

    <main>
        {{ include('profile/_form.html.twig') }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}
