{% extends 'base.html.twig' %}

{% block title %}{{tournament.title}} - New Team{% endblock %}

{% block body %}
<header>
    <h1>Add a new team to <a href="{{path('tournament_show', {'id': tournament.id})}}">{{tournament.title}}</a></h1>
</header>
<main>
    {{ include('team/_form.html.twig', {'button_label': 'Save'}) }}
</main>
{% endblock %}