{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    {% for player in team.members %}
        <p>{{ player.username }}</p>
    {% else %}
        <p>No members assigned to this team.</p>
    {% endfor %}
{% endblock %}
