<article>
    <h3>{{ team.name }}</h3>
    {% for player in team.members %}
        <p>{{ player.name }}</p>
    {% else %}
        <p>No members assigned to this team.</p>
    {% endfor %}
</article>