{% extends 'base.html.twig' %}

{% block title %}Lost Password{% endblock %}

{% block body %}
    <main class="flex-column text-align-center">
        <h1 class="margin-bottom">Request Password Reset</h1>
        {{form_start(form, {'attr':{'class':'half-width'}})}}
            {{form_widget(form)}}
        {{form_end(form)}}
    </main>
{% endblock %}
