{% extends 'base.html.twig' %}

{% block title %}Lost Password{% endblock %}

{% block body %}
    <main class="flex-column text-align-center">
        <h1 class="margin-bottom">Request Password Reset</h1>
        {{form_start(form, {'attr':{'class':'half-width'}})}}
            {{form_widget(form)}}
                <button disabled class="margin-y form__submit">{{ button_label|default('Reset') }}</button>
        {{form_end(form)}}

        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            function maybeNotSpam() {
                var buttons = Array.from(document.querySelectorAll('.form__submit'))

                buttons.forEach(function(button) {
                    button.removeAttribute('disabled')
                })

                var honeypots = Array.from(document.querySelectorAll('.field--honeypot'))

                honeypots.forEach(function(field) {
                    if ('NewUser' === field.value) {
                        field.value = null
                    }
                })
            }

            setTimeout(maybeNotSpam, 3900)
        })
        </script>
    </main>
{% endblock %}
