{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <header class="text-center">
        <h1>Thank you!</h1>
        <p>Please verify your email address before <a href="{{path('app_login')}}">signing in.</a></p>
    </header>
{% endblock %}