:root {
    font-size: calc(16px + 0.2vw);
    --ratio: 1.61803;
    /* Zero Ranger Colors */
    --color-primary: hsla(180, 100%, 25%, 1);
    --color-accent: hsla(30, 100%, 50%, 1);
    --color-black: hsla(180, 50%, 2%, 1);
    --color-white: hsla(180, 50%, 100%, 1); 
    --color-gray: hsla(180, 3%, 90%, 1);
    --color-danger: hsla(0, 100%, 50%, 1);
    --shading: linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0.12));

    line-height: var(--ratio);
    --content-width: 56rem;

    --space: 1rem;
    --space-small: calc(var(--space)/var(--ratio));
    --space-smaller: calc(var(--space-small)/var(--ratio));
    --space-smallest: calc(var(--space-smaller)/var(--ratio));
    --space-large: calc(var(--space)*var(--ratio));
    --space-larger: calc(var(--space-large)*var(--ratio));
    --space-largest: calc(var(--space-larger)*var(--ratio));

    --font-size-small: calc(1rem/var(--ratio));
}
/* Functional Classes */
.align-right {
    text-align: right;
}

.push-right {
    display: block;
    margin-left: auto;
}

.float-right {
    display: block;
}

.push-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 55em) {
    .float-right {
        float: right;
    }
}

.bg-white {
    background-color: var(--color-white);
}

.bg-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.bg-accent {
    background-color: var(--color-accent);
}

.color-black {
    color: var(--color-black);
}

.danger {
    color: var(--color-black);
    background-color: var(--color-danger);
}

.full-width {
    box-sizing: border-box;
    width: 100%;
}

.half-width {
    box-sizing: border-box;
    width: 100%;
}
@media screen and (min-width: 55em) {
    .half-width {
        width: 49.4%;
        margin-left: auto;
        margin-right: auto;
    }
}

.position {
    position: relative;
}

.block {
    display: block;
}

.padding {
    padding: var(--space-small);
}

.padding-x {
    padding-left: var(--space-small);
    padding-right: var(--space-small);
}

.padding-y {
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);
}

.margin {
    margin: var(--space-small);
}

.margin-y {
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
}

.margin-left {
    margin-left: var(--space);
}

@media screen and (min-width: 55em) {
    .flex-row {
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.true-center {
    justify-content: center;
    align-items: center;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.font-size-small {
    font-size: var(--font-size-small);
}

.rounded {
    border-radius: 0.1em;
}

.border-top {
    border-top: 0.1em solid var(--color-gray);
}

.shading {
    background-image: var(--shading);
}

/* Global Styles */
body {
    padding: 0;
    margin: 0;
    font-family: Calibri, Candara ,Segoe, Segoe UI, Optima, Arial, sans-serif; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    color: var(--color-black);
}

main {
    width: var(--content-width);
    max-width: 100vw;
    margin: 0 auto;
    flex: 1;
}

h6, h4, h3, h2, h1 {
    font-family: Cambria, Georgia, serif; 
    line-height: 1;
    margin: 0;
}

h6, h4, h3, h2, h1, p, form {
    padding-left: var(--space-small);
    padding-right: var(--space-small);
}

small {
    display: block;
    font-size: calc(1em / var(--ratio));
    line-height: var(--ratio);
}

p {
    margin-top: var(--space-small);
    margin-bottom: var(--space-small);
}

input {
    margin-top: var(--space-smallest);
    margin-bottom: var(--space-smallest);
    padding: var(--space-smallest);
    font-size: 1rem;
    border-radius: 0.1em;
    border: 0.09em solid var(--color-gray);
    outline: none;
}

input:focus {
    border: 0.15em solid var(--color-accent);
}

button {
    font-size: 1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: var(--space-smaller);
    border: none;
    border-radius: 0.1em;
    outline: none;
    background-image: var(--shading);
}

label {
    display: inline-block;
    text-align: center;
}

table {
    width: 100%;
}

th {
    background-color: var(--color-primary);
    background-image: var(--shading);
    color: var(--color-white);
}

td, th {
    text-align: center;
    padding-left: var(--space-smaller);
    padding-right: var(--space-smaller);
}

tr:nth-child(even) {
    background-color: hsla(180, 50%, 100%, 0.5);
}

/* Component Styles */
.tournament-header,
.game-summary {
    box-shadow: 0.1em 0.1em 0.1em var(--color-gray);
}

@media screen and (min-width: 55em) {
    .tournament-details {
        text-align: right;
    }
}

.summary {
    display: block;
    flex-basis: 30%;
    box-sizing: border-box;
    align-self: stretch;
    text-decoration: none;
    color: var(--color-black);
}

.summary-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 30em) {
    .leaderboard {
        font-size: inherit;
    }
}

.navbar {
    background-image: var(--shading);
    margin-bottom: var(--space);
}

.navbar-item {
    margin-right: var(--space-small);
    text-decoration: none;
    color: var(--color-white);
}

.navbar-item:last-child {
    margin-right: 0;
}

.tournament-details {
    width: 30%;
}

.add-to-collection {
    background-color: var(--color-accent);
}

.leaderboard-link {
    text-decoration: none;
}

.leaderboard-game {
    table-layout: fixed;
    font-size: 0.8em;
}

@media screen and (min-width: 55em) {
    .leaderboard-game {
        font-size: inherit;
    }
}

.row-rank,
.row-record {
    width: 8%;
}

.row-score {
    width: 16%;
}

.new-score {
    text-decoration: none;
    box-shadow: 0.06em 0.06em 0.2em var(--color-black);
    font-weight: bold;
    transition: all ease-in-out 0.2s;
}

.new-score:hover {
    color: var(--color-black);
    background-color: var(--color-accent);
}