@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto:900&display=swap');
@import 'src/variables.css';
@import 'src/typography.css';
@import 'src/gadgets.css';

body {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

:root {
    font-size: calc(10px + 0.8vw);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.gadget {
    margin-bottom: calc(var(--padding)/2);
    padding-left: var(--padding);
    padding-right: var(--padding);
}

li {
    display: flex;
    margin-bottom: calc(var(--margin)/3);
}

li:last-child {
    margin-bottom: 0;
}

.my-scores {
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}

.score-rank,
.stat-label,
.team-name {
    color: var(--color-three);
    margin-right: var(--padding);
}

.team-name {
    color: var(--color-two);
}

.score-rank::before {
    content: '#'
}

.score-game,
.team-name,
.stat-label {
    flex-grow: 1;
}

.top-player {
    text-align: center;
}

.top-player-name {
    color: var(--color-white);
    font-size: var(--size-large);
    text-shadow: var(--outlined);
}

.top-player-team {
    color: var(--color-two);
}

.top-player-points {
    font-family: 'Roboto', sans-serif;
    font-size: var(--size-larger);
    text-shadow: var(--outlined);
    margin-bottom: var(--margin);
}