{% if users|length %}
<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Team Points</th>
            <th>Participation</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        {% set user_scores = scores|filter(
        s => s.user is same as(user) and not s.autoAssigned
        ) %}

        {% set points = user_scores|reduce(
        (carry, score) => carry + score.teamPoints
        ) %}

        {% set participation = user_scores|length ?
        (user_scores|length / tournament.games|length * 100)|number_format(0) ~ '%'
        : '0%'
        %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{points|number_format}}</td>
            <td>{{participation}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}