<html>
    <head>
        <meta http-equiv="refresh" content="10">
    </head>
    <body>
        {% for score in scores %}
            <article class="score">
                <span class="game-name">{{score.game.name ~ ':'}}</span><span class="points">{{score.points|number_format}}</span>
            </article>
        {% endfor %}
    </body>
</html>