<html>
    <head>
        <style>
            .game-name:after {
                content: ':'
            }
        </style>
    </head>
    <body>
        <main id="root" class="scores" data-user="{{params.user|e}}" data-tournament="{{params.tournament|e}}"></main>

        <script>
            document.addEventListener('DOMContentLoaded', function(){
                const rootEl = document.getElementById('root')
                const params = {
                    user: rootEl.getAttribute('data-user'),
                    tournament: rootEl.getAttribute('data-tournament')
                }
                setInterval(scoreUpdate, 1000 * 60 * 3, params)
                scoreUpdate(params)

                function scoreUpdate(params) {
                    window.fetch(`{{path('scores_api')}}?user=${params.user}&tournament=${params.tournament}`, {
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                        .then(function(res) {
                            return res.json()
                        })
                        .then(function(json) {
                            while (rootEl.firstChild) {
                                rootEl.removeChild(rootEl.firstChild)
                            }
                            for (score of json.result) {
                                let scoreEl = document.createElement('div')

                                scoreEl.classList.add('score')
                                let gameNameEl = document.createElement('span')
                                gameNameEl.classList.add('game-name')
                                let gameNameContent = document.createTextNode(score.game)
                                gameNameEl.appendChild(gameNameContent)
                                scoreEl.appendChild(gameNameEl)

                                let pointsEl = document.createElement('span')
                                pointsEl.classList.add('points')
                                let pointsContent = document.createTextNode(score.points)
                                pointsEl.appendChild(pointsContent)
                                scoreEl.appendChild(pointsEl)

                                rootEl.appendChild(scoreEl)
                            }
                        })
                }
            })
        </script>
    </body>
</html>