{% extends 'base.html.twig' %}

{% block title %}Edit Scoring for {{tournament.title}}{% endblock %}

{% block body %}
    <header>
        <h1>Edit Scoring for {{tournament.title}}</h1>
    </header>
    <main>
        <section class="form-section">
            <h2>Cut-Off and No-Show Scoring</h2>
            {{ include('tournament_scoring/_form.html.twig', {'button_label': 'Save'}) }}
        </section>

        <section class="form-section">
            <h2>Ranked Points Table</h2>
            {{ include('tournament_scoring/_table_form.html.twig', {
                'form': table_form,
                'button_label': 'Save'
            }) }}
        </section>
    </main>
{% endblock %}
