<form method="POST" action="{{path('invite_accept', {'id': draft.id})}}">
    <input type="hidden" name="_token" value="{{ csrf_token('invite' ~ draft.id) }}">
    <button class="button">Accept</button>
</form>