{% extends 'base.html.twig' %}

{% block title %}Drafts{% endblock %}

{% block body %}
    <header>
        <h1>Drafts</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Tournament Title</th>
                    <th>Entries</th>
                </tr>
            </thead>
            <tbody>
            {% for draft in drafts %}
                <tr>
                    <td>{{ draft.tournament.title }}</td>
                    <td>
                        <a href="{{ path('draft_show', {'id': draft.id}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
