{% extends 'base.html.twig' %}

{% block title %}Edit PersonalBest{% endblock %}

{% block body %}
    <h1>Edit PersonalBest</h1>

    {{ include('personal_best/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('personal_best_index') }}">back to list</a>

    {{ include('personal_best/_delete_form.html.twig') }}
{% endblock %}
