{% extends 'base.html.twig' %}

{% block title %}Permanent Leaderboards{% endblock %}

{% block body %}
    <header>
        <h1>High Scores for {{website.name}} Games, Past &amp; Present</a>
    </header>
    <main>
        <section class="summary-group">
        {% for game in games %}
            {{
                include('game/_summary.html.twig', {
                    'game': game,
                    'tournament': null,
                    'scores': game.personalBests
                })
            }}
        {% endfor %}
        </section>
    </main>
{% endblock %}
