{% extends 'base.html.twig' %}

{% block title %}Update your personal best for {{personal_best.game.description}}{% endblock %}

{% block body %}
    <header>
        <h1>Update your personal best for {{personal_best.game.description}}</h1>
    </header>

    <main>
        {{ include('score/_form.html.twig', { 'score': personal_best }) }}
    </main>
{% endblock %}
