{% extends 'base.html.twig' %}

{% block title %}Permanent Leaderboard for {{game.description}}{% endblock %}

{% block body %}
    <header>
        <h1>Permanent Leaderboard for {{game.description}}</h1>
    </header>
    <main>
    {% if personal_bests|length %}
        {{
            include('_leaderboards/individual.html.twig', {
                'scores': personal_bests,
                'tournament': false,
                'user_score': personal_bests|filter(s => s.user is same as(app.user))|first
            })
        }}
    {% else %}
        <p>No scores have been posted for this game</p>
    {% endif %}
    </main>
{% endblock %}

{% block navigation %}
    {% set href = path('pb_new', {
        'game': game.name
    }) %}
    <a class="nav-item" href="{{href}}">✏️<span class="nav-item-label">Your PB</span></a>
{% endblock %}
