{% set endpoint = path('stream_kit', {
    'user': query.username,
    'tournament': tournament.id
}) %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ encore_entry_link_tags('stream') }}
    </head>
    <body data-endpoint="{{endpoint}}">

        <main id="stream-kit"></main>

        {{ encore_entry_script_tags('stream') }}
    </body>
</html>