{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
    <main>
        <h1>Edit Tournament</h1>

        {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('tournament/_delete_form.html.twig') }}
    </main>
{% endblock %}
