{% extends 'base.html.twig' %}

{% block title %}La Calice Cup: STG Tournament{% endblock %}

{% block body %}
    <h1>Upcoming Tournament</h1>

    <article>
        <h2>La Calice Cup</h2>
        <p>In the month of Junes, STG players of all skill levels will join together to compete in the innaugural <em>La Calice Cup</em>; a team-based shoot 'em up tourney where each player's individual high scores contributes to their team's greatness</p>
    </article>

    <p><a class="button" href="{{ path('user_new') }}">Sign Up!</a></p>
{% endblock %}
