{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="index">
    {% if upcoming_tournaments %}
        <h2>Upcoming Tournaments</h2>
        {% for tournament in upcoming_tournaments %}
            {{ include('tournament/summary.html.twig', { 'tournament': tournament }) }}
        {% endfor %}
    {% endif %}

    {% if in_progress_tournaments %}
        <h2>Tournaments In Progress</h2>
        {% for tournament in in_progress_tournaments %}
            {{ include('tournament/summary.html.twig', { 'tournament': tournament }) }}
        {% endfor %}
    {% endif %}

    {% if past_tournaments %}
        <h2>Past Tournaments</h2>
        {% for tournament in past_tournaments %}
            {{ include('tournament/summary.html.twig', { 'tournament': tournament }) }}
        {% endfor %}
    {% endif %}
    </main>
{% endblock %}
