{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
    <main>
        <h1>New Tournament</h1>

        {{ include('tournament/_form.html.twig') }}

        <a href="{{ path('tournament_index') }}">back to list</a>
    </main>
{% endblock %}
