{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
    <main>
        <h1>Create a new tournament</h1>

        {{ include('tournament/_form.html.twig') }}

    </main>
{% endblock %}
