{% extends 'base.html.twig' %}

{% block title %}Edit Scoring{% endblock %}

{% block body %}
    <main>
        <h1>Edit Scoring for {{ tournament.title }}</h1>

        {{ form(form) }}
    </main>
{% endblock %}
