{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }}{% endblock %}

{% block body %}
    <header>
        <h1>{{tournament.title}}</h1>

        {% if tournament.inProgress %}
            <time class="block text-small">
                ends {{tournament.endDate|date_modify('-1 minute')|date('F jS, g:ia')}}
            </time>
        {% endif %}
    </header>
    <main>
        {% if tournament.inProgress %}
            <section class="gadget-group">
                {% include '_gadgets/recent.scores.html.twig' %}
                {% include '_gadgets/participation.html.twig' %}
                {% include '_gadgets/top.team.html.twig' %}
                {% include '_gadgets/top.player.html.twig' %}
                {% include '_gadgets/live.streams.html.twig' %}
            </section>
        {% endif %}

        <section class="summary-group">
        {% for game in tournament.games %}
            {% include 'game/_summary.html.twig' %}
        {% endfor %}
        </section>
    </main>
{% endblock %}
