{% for player in leading_players %}
<aside class="gadget gadget-top-score">
    <h3>Top Player</h3>
    <a class="text-large" href="{{path('user_show', {id: player.id})}}">{{player.name}}</a>
    <p class="roboto text-larger outlined">{{player.points}}</p>
</aside>
{% endfor %}