<section class="gadget-group">
    <aside class="gadget">
        <h3>Your Score</h3>
        <p class="text-center text-larger roboto outlined">{{user_score.points|number_format}}</p>
    </aside>

    {% if user_score.pointsHistory|length >= 3 %}
        {% set width = user_score.pointsHistory|length * 20 - 20 %}
        {% set height = width * 9 / 32 %}
        {% set ratio = height / user_score.points %}
        {% set polyline_points = user_score.pointsHistory|map((value, index) => "#{index * 20},#{height - (ratio * value)}")|join(' ') %}
        <aside class="gadget">
            <h3>Score Over Time</h3>
            <svg class="linear-gauge" viewBox="0 0 {{width}} {{height}}">
                <polyline
                    class="linear-gauge-line"
                    points="{{polyline_points}}"
                >
                </polyline>
        </aside>
    {% endif %}
</section>