<h3>Password Reset</h3>

<p>A password reset was requested for your Calice Cup account. Use <a href="{{verify_url}}" target="_blank">this link</a> to complete the process.</p>

<pre>
You many also use the following URL:

{{verify_url}}
</pre>

<p>If you did not make this request, please contact the website administrator.</p>