<h3>Password Reset</h3>

<p>A password reset was requested for your account. Use <a href="{{verify_url}}" target="_blank">this link</a> to complete the process.</p>

<p>If you did not make this request, please contact the website administrator.</p>