{% extends 'base.html.twig' %}

{% block title %}{{ tournament.title }} scores for {{ game.description }}{% endblock %}

{% block body %}
    <main>
        {% if scores %}
            <table>
            {% for score in scores %}
                <tr><td>{{score.points}}</td></tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No scores posted.</p>
        {% endif %}
    </main>
{% endblock %}
