{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
    <main>
        <h1>New High Score</h1>
        {{ include('score/_form.html.twig') }}
    </main>
{% endblock %}