form {
    background-color: #000;
    padding: var(--padding);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(var(--max-content-width) / 2);
    max-width: calc(var(--max-content-width) / 2);
}

form div {
    margin-bottom: calc(var(--margin) / 2);
}

:--inputs {
    font-family: inherit;
    font-size: 100%;
    width: 12rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
}

label {
    float: left;
    text-align: right;
    width: 6rem;
    margin-right: calc(var(--margin) / 2);
}

form button {
    display: block;
    margin-top: calc(var(--margin)/2);
    margin-bottom: var(--margin);
    margin-right: auto;
}

.upload-preview {
    cursor: pointer;
}

.login {
    min-height: calc(100vh - 15rem);
}