form {
    background-color: #000;
    padding: var(--padding);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(var(--max-content-width) / 2);
    max-width: calc(var(--max-content-width) / 2);
}

.form-section {
    margin-bottom: var(--margin);
}

form div {
    margin-bottom: calc(var(--margin) / 2);
}

:--inputs,
button,
label {
    box-sizing: border-box;
}

label {
    float: left;
    text-align: right;
    width: var(--label-width);
    padding-right: calc(var(--margin) / 2);
}

:--inputs,
button {
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}
:--inputs {
    width: var(--input-width);
}

input[type="checkbox"] {
    width: auto;
}

form button {
    display: block;
    position: relative;
    width: var(--label-width);
    margin-top: calc(var(--margin)/2);
    margin-bottom: var(--margin);
    margin-left: var(--label-width);
    margin-right: auto;
    z-index: 0;
}

.upload-preview {
    cursor: pointer;
}

.remove-file {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 1rem;
    background: none;
    border: none;
    color: var(--color-two);
}

.remove-file:active {
    color: var(--color-white);
}

.login {
    min-height: calc(100vh - 15rem);
}

.ajax-search-results {
    display: none;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: var(--input-width);
    max-height: 300%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000;
}

.ajax-search-result {
    cursor: pointer;
}

.ajax-search-result:nth-child(even) {
    background-color: var(--shaded);
}

.game-form-list {
    display: flex;
    flex-wrap: wrap;
}

.game-form-list-item {
    cursor: pointer;
    border: 0.1em solid var(--color-white);
    padding: var(--padding);
    margin-right: var(--margin);
    margin-bottom: calc(var(--margin)/4);
    transition-property: color, border-color;
    transition-delay: 0.1s;
    transition-duration: 0.1s;

    &::after {
        content: '.zip';
    }

    &:hover {
        border-color: var(--color-danger);
        color: var(--color-danger);
    }
}

.team-roster-list {
    display: flex;
    flex-wrap: wrap;
}

.team-roster-list-item {
    flex: 0 0 40%;
    position: relative;
    cursor: pointer;
    border: 0.1em solid var(--color-gray);
    padding: var(--padding);
    margin-right: var(--margin);
    margin-bottom: calc(var(--margin)/4);
    transition-property: color, border-color;
    transition-delay: 0.1s;
    transition-duration: 0.1s;

    &:hover {
        border-color: var(--color-two);
        color: var(--color-two);
    }
}

.eligible-players-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: var(--padding);
    max-height: 18rem;
    overflow-y: scroll;
}

.eligible-players-list-item {
    flex: 0 0 40%;
    margin-right: var(--margin);
    margin-bottom: calc(var(--margin)/4);
    color: var(--color-two);
    cursor: pointer;
}

@media (min-width: 34rem) {
    .eligible-players-list-item,
    .team-roster-list-item {
        flex-basis: 28%;
    }
}

@media (min-width: 48rem) {
    .eligible-players-list-item,
    .team-roster-list-item {
        flex-basis: 20%;
    }
}

.roster-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: calc(70vh * 3 / 4);
    max-width: 100%;
    top: var(--margin);
    left: 50%;
    transform: translate(-50%,0);
    background-color: #000;
    z-index: 9999;
}

.modal-close,
.modal-back {
    position: absolute;
    top: 0;
    margin: var(--padding);
    padding: calc(var(--padding)/2);
    background-color: transparent;
    color: var(--color-two);
    border: 0.1em solid var(--color-two);
}

.modal-close {
    right: 0;
}

.modal-back {
    left: 0;
}