.gadget-group {
    margin-bottom: var(--margin);
}

.gadget {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-top: calc(var(--margin) * 2);
    padding-bottom: var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-bottom: calc(var(--margin) / 2);
    border: 0.15em solid var(--color-gray);
    border-radius: 0.3em 0.6em 0.2em 0.2em;
    background-image: linear-gradient(105deg, var(--color-black) 40%, var(--color-prime));
    color: var(--color-gray);
}

.gadget :--heading {
    background-color: var(--color-gray);
    border-left: 0.1em solid var(--color-three);    
    color: var(--color-white);
    text-shadow: var(--outlined);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.9em;

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: -3rem;
        width: 3rem;
        height: 100%;
        background: linear-gradient(315deg, transparent 50%, var(--color-gray) 51%);
    }
}

@media (min-width: 31rem) {
    .gadget-group {
        display: flex;
        flex-wrap: wrap;
    }

    .gadget {
        flex: 1;
        flex-basis: calc(100% / 2 - 1rem);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (min-width: 50rem) {
    .gadget {
        flex-basis: calc(100% / 3 - 1rem);
    }
}

@media (min-width: 60rem) {
    .gadget {
        flex-basis: content;
    }
}

.gauge {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.radial-gauge {
    display: block;
    margin: 0 auto;
    width: calc(var(--margin) * 7);
    height: calc(var(--margin) * 7);
}

.radial-gauge-path {
    stroke: var(--color-three);
}

.linear-gauge-rect {
    fill: hsla(var(--hsl-three), 0.7);
}

.linear-gauge-label {
    fill: var(--color-white);
}

.gadget-top-score {
    text-align: center;
}

.linear-gauge-line {
    fill: none;
    stroke: var(--color-three);
    stroke-width: 0.01em;
}

.gadget-pbg {
    flex-basis: 20rem;
    flex-grow: 0;

    & .gauge {
        height: 85%;
    }
}

.gadget-your-score {
    flex-basis: 20rem;
    flex-grow: 0;
    min-height: 10rem;
}