.gadget-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.gadget {
    position: relative;
    flex: 1;
    box-sizing: border-box;
    padding: var(--padding);
    padding-top: calc(var(--margin) * 2);
    margin-right: var(--margin);
    border: 0.15em solid var(--color-gray);
    border-radius: 0.3em 0.6em 0.2em 0.2em;
    color: var(--color-gray);
    background-image: linear-gradient(105deg, var(--color-black), var(--color-prime));
}

.gadget:last-child {
    margin-right: 0;
}

.gadget :--heading {
    background-color: var(--color-gray);
    border-left: 0.1em solid var(--color-three);    
    color: var(--color-white);
    text-shadow: var(--outlined);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.9em;

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: -3rem;
        width: 3rem;
        height: 100%;
        background: linear-gradient(315deg, transparent 50%, var(--color-gray) 51%);
    }
}

.radial-gauge {
    width: 10rem;
    height: 10rem;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.radial-gauge-path {
    stroke: var(--color-two);
}

.gadget-top-score {
    text-align: center;
}