@media (min-width: 37rem) {
    .gadget-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, calc(
            (var(--max-content-width) / 5) - calc(var(--margin) * 2)
        ));
        grid-auto-rows: auto;
        grid-gap: var(--margin);
    }

    .gadget {
        margin-bottom: 0;
    }
}

.gadget {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--margin);
    padding: calc(var(--padding) / 2);
    padding-top: calc(var(--margin) * 2);
    border: 0.15em solid var(--color-gray);
    border-radius: 0.3em 0.6em 0.2em 0.2em;
    background-image: linear-gradient(105deg, var(--color-black) 40%, var(--color-prime));
    color: var(--color-gray);
}

.gadget :--heading {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: calc(var(--margin) / 2);
    background-color: var(--color-gray);
    border-left: 0.3em solid var(--color-three);    
    color: var(--color-white);
    text-shadow: var(--outlined);
    text-transform: uppercase;

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: calc(var(--margin-large) * -1);
        width: var(--margin-large);
        height: var(--margin-large);
        background-image: linear-gradient(315deg, transparent 50%, var(--color-gray) 51%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 41.25rem) {
    .gadget-points-breakdown {
        max-width: 66vw;
    }
}

.recent-scores {
    grid-column-start: 1;
    grid-column-end: 3;
}

.recent-score {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.recent-score-value {
    flex: 0;
    flex-basis: 25%;
}

.gauge {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: var(--margin);
}

.radial-gauge {
    display: block;
    margin: 0 auto;
    width: calc(var(--margin) * 7);
    height: calc(var(--margin) * 7);
}

.radial-gauge-path {
    stroke: var(--color-three);
}

.linear-gauge-rect {
    fill: hsla(var(--hsl-three), 0.7);
}

.linear-gauge-label {
    fill: var(--color-white);
}

.gadget-top-score {
    text-align: center;
}

.linear-gauge-line {
    fill: none;
    stroke: var(--color-three);
    stroke-width: 0.01em;
}