body {
    background-color: var(--color-black);
    color: hsla(var(--hsl-white), 0.99);
}

.main-navigation {
    font-size: var(--size-larger);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--padding) / 2) 0;

    & .nav-item {
        color: var(--color-two);
        margin: 0 0.25em;
    }
}

.summary-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.summary {
    position: relative;
    flex: 0 0 30rem;
    border: 0.1em solid var(--color-gray);
    margin: calc(var(--margin) / 4);
}

.summary-details {
    display: block;
    padding: var(--padding);
}

.marquee {
    position: absolute;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.game-summary-scores {
    text-align: center;
}

.profile-picture {
    width: 8rem;
    max-width: 100%;
}