body {
    background-color: var(--color-black);
    color: hsla(var(--hsl-white), 0.99);
}

.tournament-group {
    border-left: 0.1em solid var(--color-three);
    padding-left: var(--padding);
}

.game-summary {
    border: 0.1em solid var(--color-gray);
}

.summary-details {
    display: block;
    padding: var(--padding);
}

.marquee {
    position: absolute;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.game-summary-scores {
    text-align: center;
}

.active-game {
    position: relative;
    background-color: var(--shaded);
}

.active-game-new-score {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.profile-picture {
    width: 4rem;
    margin-right: calc(var(--margin)/2);
    max-width: 100%;
}

.profile-summary {
    background-color: var(--shaded);
    padding: var(--padding);
}

header {
    background: linear-gradient(180deg, #000, transparent);
}