:root {
    font-family: 'Montserrat', sans-serif;
    line-height: var(--ratio);
}

p {
    margin: 0;
}

:--heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: calc(var(--margin) / 2);
}

:--anchor {
    text-decoration: none;
    color: var(--color-two);
}

table {
    border-collapse: collapse;
    margin-bottom: var(--margin);
}

th {
    background-color: var(--color-prime);
    color: var(--color-white);
    text-align: left;
}

th, td {
    border: 0.1em solid var(--color-prime);
    padding: var(--padding);
}

tbody tr:nth-child(even) {
    background-color: var(--shaded);
}