.uppercase {
    text-transform: uppercase;
}

.positioned {
    position: relative;
}

.highlighted {
    background-color: hsla(var(--hsl-two), 0.3) !important;
    border-color: var(--color-two) !important;
}