.roboto {
    font-family: 'Roboto', sans-serif;
}

.text-large {
    font-size: var(--size-large);
}

.text-larger {
    font-size: var(--size-larger);
}

.text-small {
    font-size: var(--size-small);
    line-height: var(--margin);
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.float-right {
    display: block;
}

.content-true-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (--small) {
    .float-right {
        float: right;
    }
}

.overflow-y-scroll {
    max-height: calc(var(--margin) * 6);
    overflow-y: scroll;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-right {
    margin-right: var(--margin);
}

.outlined {
    text-shadow: var(--outlined);
}

.uppercase {
    text-transform: uppercase;
}

.positioned {
    position: relative;
}

.off-canvas {
    left: -9999px;
}

.modal-open {
    overflow: hidden;
}

.modal-open::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(var(--hsl-black), 0.9);
}

.absolute-center {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.highlighted {
    background-color: hsla(var(--hsl-two), 0.1) !important;
    border-color: var(--color-two) !important;
}

.show,
.block {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.push-right {
    margin-left: auto;
}

.basis-50 {
    flex-basis: 50%;
}

.color-white {
    color: var(--color-white);
}

.color-gray {
    color: var(--color-gray);
}

.color-prime {
    color: var(--color-prime);
}

.color-two {
    color: var(--color-two);
}

.color-three {
    color: var(--color-three);
}

.bg-black {
    background-color: #000;
}

.button {
    box-sizing: border-box;
    text-align: center;
    width: 9rem;
    margin: calc(var(--margin)/2) 0;
    padding: var(--padding);
    color: var(--color-two);
    border: 0.1em solid var(--color-two);
    background-color: transparent;
}

.danger {
    color: var(--color-gray);
    border-color: var(--color-danger);
}