@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--anchor a, a:link, a:active, a:visited;
@custom-selector :--body p, a;
@custom-selector :--inputs input, select, textarea;

:root {
    font-size: 16px;
    --ratio: 1.61803;
    --padding: calc(0.5em + 0.1vw);
    --margin: calc(1rem * var(--ratio));
    --margin-large: calc(var(--margin) * var(--ratio));

    --size-large: calc(1em * var(--ratio));
    --size-larger: calc(var(--size-large) * var(--ratio));
    --size-small: calc(1em / var(--ratio));

    --hue: 256.9deg;
    --hsl-prime: var(--hue), 76.8%, 51%;
    --hsl-two: calc(120deg + var(--hue)), 76.8%, 51%;
    --hsl-three: calc(240deg + var(--hue)), 76.8%, 51%;
    --hsl-white: var(--hue), 9%, 98%;
    --hsl-gray: var(--hue), 9%, 82%;
    --hsl-black: var(--hue), 9%, 12%;
    --hsl-danger: calc(100deg + var(--hue)), 76.9%, 51%;

    --color-prime: hsl(var(--hsl-prime));
    --color-two: hsl(var(--hsl-two));
    --color-three: hsl(var(--hsl-three));
    --color-white: hsl(var(--hsl-white));
    --color-gray: hsl(var(--hsl-gray));
    --color-black: hsl(var(--hsl-black));
    --color-danger: hsl(var(--hsl-danger));

    --shaded: hsla(var(--hsl-gray), 0.1);
    --outlined: 0.1em 0.1em 0.1em var(--color-black);

    --max-content-width: 100rem;
    --form-width: calc(var(--max-content-width) * 2 / 3);
    --input-width: calc(var(--form-width) * 2 / 6);
}