{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
<main>
    <aside ref="data" data-dashboard="{{ dashboard_data ? dashboard_data|json_encode|e('html_attr') }}"></aside>

    <div id="dash"></div>
</main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}