{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main>
    <h1>{{appname}}</h1>
    <h2>Your active tournaments:</h2>
    {% for tournament in tournaments %}
        {{tournament.title}}
        {% include 'dashboard/_gadgets/active.scores.html.twig' %}
    {% endfor %}
</main>
{% endblock %}
