{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main>
    <h1>{{website.name}}</h1>
    <h2>Your active tournaments:</h2>
    {% for tournament in tournaments %}
        {% set href = path('tournament_show', {
            'id': tournament.id
        }) %}
        <h3><a href="{{href}}">{{tournament.title}}</a></h3>
        {% include '_gadgets/active.scores.html.twig' %}
    {% endfor %}
</main>
{% endblock %}
