{% if streams %}
<section class="header-list">
    <h3>Live Streams</h3>
    <ul>
    {% for stream in streams %}
        <li>{{stream.user_name}} &mdash; <a target="_blank" href="{{'https://www.twitch.tv/' ~ stream.user_name}}">{{stream.title}}</a></li>
    {% endfor %}
    </ul>
</section>
{% endif %}