{% if tournament.scores|length %}
<aside class="gadget gadget-participation">
    <h3>Participation</h3>
    <div class="positioned">
        <svg class="gauge radial-gauge" viewBox="0 0 36 36">
            <path class="radial-gauge-path"
                d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831";
                fill="none";
                stroke-width="1";
                stroke-dasharray="{{tournament.participationRate * 100}}, 100"
            />
        </svg>
        <span class="roboto color-three outlined text-larger absolute-center">{{tournament.participationRate|number_format(4) * 100 ~ "%"}}</span>
    </div>
</aside>
{% endif %}