{% if scores %}
<aside class="gadget">
    <h3>Recent Scores</h3>
    {% for score in recent_scores %}
        {% set href = path('score_show', {
            'game_name': score.game.name,
            'tournament_id': score.tournament.id
        }) %}
        <div class="flex flex-space-between">
            <a class="flex-1" href="{{href}}">{{score.game.name}}</a>

            {% set diff = date("now").diff(date(score.updatedAt)) %}
            {% set span = diff.format('%i') > 60 ?
                diff.format('%h hours ago') :
                diff.format('%i minutes ago')
            %}
            <span class="flex-1 text-right">{{span}}</span>
        </div>
    {% endfor %}
</aside>
{% endif %}