{% for player in leading_players %}
{% set href = path('profile_show', {
    'username': player.name|lower
}) %}
<aside class="gadget gadget-top-score">
    <h3>Top Player</h3>
    <a class="text-large" href="{{href}}">{{player.name}}</a>
    <p class="roboto text-larger outlined">{{player.points}}</p>
</aside>
{% endfor %}