{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <header>
        <h1 class="text-center">Register an account on {{website.name}}</h1>
    </header>
    <main class="content-true-center">
        {{ include('user/_form.html.twig') }}
    </main>
{% endblock %}